# dependencies
node_modules
.pnp
.pnp.js

# build
.next
out
dist
build

# env
.env
.env.docker
.env.docker.local
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# prisma
*.db
*.db-journal

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# turbo
.turbo

# vercel
.vercel

# test
coverage
